* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  background: linear-gradient(to bottom right, #1c45e7, #ced8ff, #1c45e7);
  transition: 0.5s;
}

.container.dark {
  background: linear-gradient(to bottom right, #302f2f, #000);
}

/*  */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.title {
  text-align: center;
  margin-top: 3%;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #0f1114;
}

.containerCode {
  width: 100%;
  height: 80vh;
  padding: 50px;
  display: flex;
  margin-top: -1%;
}

.left , .right {
  flex-basis: 50%;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 29.65%;
  background: #091f36;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  outline: 0;
  font-size: 18px;
}

iframe {
  width: 100%;
  height: 98%;
  background: #e1e8f0;
  border: 0;
  outline: 0;
  border-radius: 10px;
}

label i{
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

label {
  display: flex;
  align-items: center;
  background: #4f5f76;
  height: 30px;
  border-radius: 10px;
}

.message {
  background-color: #ffffff94;
  margin: 30px 300px;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
}